<div class="container">
  <!-- This is my Title Bar -->
  <div class="title-bar">
    <h1><a [routerLink]="['']">My E-COM App</a></h1>
  </div>

  <!-- This is my navigation bar -->
  <div class="nav-bar">
    <h3>Product Categories</h3>
    <h4><a [routerLink]="['clothing']">Clothing</a></h4>
    <h4><a [routerLink]="['electronics']">Electronics</a></h4>
    <h4><a [routerLink]="['pet-products']">Pet Products</a></h4>
  </div>

  <!-- This is my main Content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>