.electronic-category {
    .electronic-item {
        border: 2px solid palevioletred;
        width: 60px;
        height: 30px;
        margin: 20px;
        padding: 5px;
        box-sizing: border-box;
        float: left
    }
}