.clothing-category {
    .clothing-item {
        border: 1px solid burlywood;
        width: 400px;
        height: 300px;
        margin: 15px;
        padding: 5px;
        box-sizing: border-box;
        float: left
    }
}